$color: #333333;
$bg-color: #ffffff;

$font-size: 16px;
$line-height: 20px;
$font-family: sans-serif;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;

// Init
$box-sizing: border-box;